:root{
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F7FF;
    --warm-black:#201e1c;
    --black:#282623;
    --grey:#bababa;
    --off-white:#FAF8F7;
    --just-white:#fff;
}

*{

}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-width:320px;
    height: 334px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 150px;
    height: 24px;
    /* margin-top: 60px; */
    align-self: center;
} 

.header--title-container{
    /* width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px; */
    margin-top: 25px;
    text-align: center;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button{
    position: absolute;
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
    align-self: center;
}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('/icons/down-arrow.svg');
}

main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title{
    width: 90%;
    min-width:  288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .backgrounImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./img/Bitcoin.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

 .main-exchange-container h2{
     margin-bottom: 30px;
     font-size: 2.4rem;
     font-weight: bold;
     line-height: 2.6rem;
     color: var(--black) ;
 }

 .main-exchange-container p{
     margin-bottom: 30px;
     font-size: 1.4rem;
     font-weight: 500;
     line-height: 1.6rem;
     color: #757575;
 }


.main-tables-container .main-tables--precios{
     display: grid;
     grid-template-columns:  repeat(2, minmax(60px, 150px));
     grid-template-rows: 50px 50;
     justify-content: center;
     
 }

.main-tables--precios p{
    font-weight: bold;
    color: #5c5b5b;
 }

 .main-tables-container{
     width: 100%;
 }

 .main-tables-container h2{
     color: var(--bitcoin-orange);
     font-size:  2.1rem;
     margin: 0 auto;
     margin-bottom: 30px;
     margin-top: 50px;
 }


 .main-product-detail{
     position: relative;
     width: 100%;
     min-width: 320px;
     height: auto;
     padding: 20px 10px ;
     background-color: var(--warm-black);
 }

.product-detail--batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    background-image: url(./icons/batata.svg);
    background-repeat: no-repeat;
    background-size: contain;
    top: -10px;
    left: calc(50% - 20px); 
    /* o tambien left: calc(45%); */
 }


.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;   
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail--card{
    width: 100%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}


.product-detail--card .clock{
    display: inline-block;
    width: 35px;
    height: 25px;
    margin-bottom: 10px;
    background-image: url(./icons/clock.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail--card .eyes{
    display: inline-block;
    width: 35px;
    height: 25px;
    margin-bottom: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./icons/eye.svg);
}

.product-detail--card .money{
    display: inline-block;
    width: 35px;
    height: 25px;
    margin-bottom: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./icons/dollar-sign.svg);
}

.product-detail--card .check{
    display: inline-block;
    width: 35px;
    height: 25px;
    margin-bottom: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./icons/check-circle.svg);
}


.product--card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product--card-body{
    font-size: 1.4rem;
    font-weight:500;
    line-height: 1.8rem;
    color: #808080;
}

.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('./img/bitcoinbaby2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.bitcoin-img-container h2{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white) ;    
}

.main-planes-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.planes--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    /* margin-top:50px ; */
}


.planes--title h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.planes--title p{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;

}

.planes-container--slider{
    font-size: 0;
    display: flex;
    gap: 25px;
    height: 326px;
    /* overflow-x: scroll;
    overscroll-behavior-x:contain ;
    scroll-snap-type: proximity; */
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x proximity;
}

.planes-container--card{
    position: relative;
    scroll-snap-align:center ;
    width: 70%;
    min-width: 200px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px ;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89,73,30,0.16);
}


.recomendado{
    position: absolute;
    width: 120px;
    height: 31px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
    left: calc(50% - 60px);
    top: -15px;
    font-size: 1.2rem;
    padding: 8px;
}

.plan-card--title{
    padding-top: 30px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}

.plan-card--price{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
}

.plan-card--price span{
    font-size: 1.2rem;
    font-weight: 500;
}


.plan.card--saving{
    font-size: 1.2rem;
    color: #757575;
}


.plan-card--ca{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
    font-family: 'DM Sans', sans-serif;
}

.plan-card--ca span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('./icons/orange-right-arrow.svg');
    vertical-align:text-bottom;
}


footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

footer .left ul{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8rem;
    list-style: none;
}

.left li{
    margin: 10px 0;
}

.left a{
    text-decoration: none;
    color: var(--just-white);
}










 














